<div class="row">
  <div class="col-sm-6 col-sm-offset-3"><br><br>
    <h2>{{post.title}}</h2>
      <p>By: {{post.author.username}}</p>
    <a href="{{post.url}}" class="lead">{{post.url}}</a><br><br>
    <p>{{post.summary}}</p>
  </div>
</div>



   <form action="/posts/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>

{{#each post.comments}}
    <p>{{this.content}}</p>
{{/each}}