<div class="row">
  <div class="col-8 mx-auto"><br><br>
    <h2>{{post.title}}</h2>
      <p>By: {{post.author.username}}</p>
    <a href="{{post.url}}" class="lead">{{post.url}}</a><br><br>
    <p>{{post.summary}}</p>

{{#if currentUser}}
   <form action="/posts/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
{{else}}
Login
{{/if}}

{{#each post.comments}}
    <p>{{this.content}}</p>
    <p class="text-right">{{this.author.username}}</p>
{{/each}}

  </div>
</div>